:root {
  --black: #000000;
  --white: #ffffff;
  --white2: #f5f5f5;
  --scarlet: #bb0000;
  --mango: #f6bf31;
}

* {
  font-family: "Saira Condensed", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

/* LAYOUTS */
nav {
  display: grid;
  grid-template-columns: 20% 40% 20% 20%;
  height: 100px;
  align-items: center;
  padding: 0px 100px 0px 100px;
}

.business-logo-container {
  margin: 0 auto;
}

.categories {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.account-link {
  margin-left: auto;
}

.shopping-cart-link {
  margin: auto;
}

.hero {
  background-image: url("../img/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  position: relative;
  padding: 100px 150px;
}

.featured-container {
  margin: 30px 0;
  padding: 0 10%;
}

.products-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
  place-items: center;
}

.product-container {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.new-products-container {
  margin: 50px 0;
  background-image: url("../img/new-products-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  position: relative;
}

.new-products-subcontainer {
  width: 600px;
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 20px;
  right: 10%;
  top: 20%;
}

/* TYPOGRAPHY */
li {
  list-style: none;
}

.categories li a {
  font-size: 17px;
  color: var(--black);
}

.account-link {
  font-size: 17px;
  color: var(--black);
}

.hero--slogan {
  font-size: 90px;
  color: var(--white);
  z-index: 10;
  line-height: 110px;
  margin-top: 50px;
}

.hero--slogan > span {
  color: var(--scarlet);
}

.featured--title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}

.product--name {
  font-size: 25px;
}

.product--category {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.product--price {
  font-size: 17px;
}

.new-products--title {
  font-size: 40px;
  color: white;
}

/* IMAGES */
.business-logo {
  max-height: 100%;
}

.hero--shoe-item {
  position: absolute;
  right: 5%;
  top: 0;
  height: 600px;
  z-index: 1;
}

.product--image {
  height: 220px;
  width: 270px;
}

.new-products--images-container {
  display: flex;
  gap: 10px;
}

/* BUTTONS */
.product--buttons-container {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.product--button {
  width: 100%;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  color: var(--white2);
}

.new-products--button {
  width: 130px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  background-color: var(--mango);
  color: var(--white2);
}

/* LINKS */
a {
  text-decoration: none;
}

/* HOVERS, ACTIVES, ETC. */
