:root {
  --black: #000000;
  --white: #ffffff;
  --white2: #f5f5f5;
  --scarlet: #bb0000;
  --mango: #f6bf31;
}

* {
  font-family: "Saira Condensed", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

/* LAYOUTS */
.subcategories {
  margin-top: 100px;
  background-color: #1f1e1e;
  padding: 15px 30px;
}

.subcategories--links {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.subcategory-container {
  margin: 30px 0;
  padding: 0 10%;
}

.subcategory--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sort {
  display: flex;
  align-items: center;
  gap: 5px;
}

.products-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
  justify-content: space-between;
}

.product-container {
  display: flex;
  flex-direction: column;
  width: 250px;
}

/* TYPOGRAPHY */
.subcategory--header-title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
}

.subcategory--header-title span {
  margin-left: 10px;
  font-size: 15px;
  font-weight: lighter;
  opacity: 0.7;
}

.product--name {
  font-size: 25px;
  margin-bottom: -5px;
}

.product--category {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.product-selection {
  margin-bottom: 5px;
}

.product--selling-price {
  font-size: 17px;
}

.product--original-price {
  font-size: 17px;
  text-decoration: line-through;
  opacity: 0.7;
  display: inline-block;
  margin-left: 5px;
}

/* IMAGES */
.product--image {
  height: 220px;
  width: 270px;
}

/* LINKS */
.subcategories--links a {
  font-size: 16px;
  font-weight: 600;
  color: var(--white);
  transition: color 200ms ease-in-out;
}

.subcategories--links a.active {
  color: var(--mango);
}

/* BUTTONS */
.product--buttons-container {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.product--button {
  width: 100%;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  color: var(--white2);
  position: relative;
  z-index: 1;
  overflow: hidden;
}

/* HOVERS, ACTIVES, ETC. */
.subcategories--links a:hover {
  color: rgba(255, 255, 255, 0.7);
}

.subcategories--links a:active,
.subcategories--links a.active {
  color: rgba(246, 191, 49, 1);
}

.product--button:hover {
  color: black;
}

.product--button:after {
  content: "";
  background: rgb(117, 201, 117);
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

.product--button:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
